@model IEnumerable<_20104681CLDV6211POE.Models.CustomerData>
@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav">&#9776; Customer</span> @*When extended*@
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav2">&#9776; Customer</span>@*When reclined*@
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    @**For the display of the customer info*@
    <div class="card">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a asp-action="Create" class="fa fa-plus"> Add new Customer</a>
        </nav>
        <div class="card-body">
            <table class="table table-hover">
                <thread>
                    <tr>
                        <th><h5 style="color:black">ID</h5></th>
                        <th><h5 style="color:black">Name</h5></th>
                        <th><h5 style="color:black">Surname</h5></th>
                        <th><h5 style="color:black">Address Line One</h5></th>
                        <th><h5 style="color:black">Address Line Two</h5></th>
                        <th><h5 style="color:black">City</h5></th>
                        <th><h5 style="color:black">Postal Code</h5></th>
                        <th><h5 style="color:black">Manage</h5></th>
                    </tr>
                </thread>
                <tbody>
                    @foreach (var cust in Model)
                    {
                        <tr>
                            <td style="color:black">@Html.DisplayFor(modelItem => cust.CustomerID)</td>
                            <td style="color:black">@Html.DisplayFor(modelItem => cust.CustomerName)</td>
                            <td style="color:black">@Html.DisplayFor(modelItem => cust.CustomerSurname)</td>
                            <td style="color:black">@Html.DisplayFor(modelItem => cust.AddressLineOne)</td>
                            <td style="color:black">@Html.DisplayFor(modelItem => cust.AddressLineTwo)</td>
                            <td style="color:black">@Html.DisplayFor(modelItem => cust.City)</td>
                            <td style="color:black">@Html.DisplayFor(modelItem => cust.PostalCode)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@cust.CustomerID" class="fa fa-wrench" style="color:green">Edit</a>
                                <a asp-action="JobCard" asp-route-id="@cust.CustomerID" class="fa fa-plus" style="color:blue">Job</a>
                                <a asp-action="Delete" asp-route-id="@cust.CustomerID" class="fa fa-trash" style="color:Red">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>